*{
    margin: 0;
    padding: 0;

    /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
    box-sizing: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    /* width: 20%;
    height: 40%;
    margin: 20px;
    padding: 30;
    background: red; */


    /* width: 100%;
    height: 100%;
    
    background-image: url(https://images.unsplash.com/photo-1718095744838-dace5469b218?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

    background-size: cover;
    background-position: center; */

}

/* absolute */
#car1{
    /* position: absolute; */
    width: 100px;
    height: 120px;
    background-color: red;
}

#car2{
    /* top: 20%;
    left: 30%;
    position: absolute; */
    width: 110px;
    height: 90px;
    background-color: blueviolet;
}

#car3{
    /* position: absolute; */
    width: 130px;
    height: 110px;
    background-color: green;
}

/* relative */
/* #box{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: red;
}

#chota{
    left: 40%;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: yellow;
} */

/* parent */
#box{
    display: flex;

    /* to work with width */
    justify-content: space-between;

      /* to work with height */
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: grey;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: brown;
}

#box2{
    width: 100px;
    height: 100px;
    background-color: pink;
}

#box3{
    width: 100px;
    height: 100px;
    background-color: yellow;
}